h1 {
    color: rgb(0, 0, 0);
    font-size:  50px;
    
}

.divserfoto {
    height: 150px;
    width: 40%;
}
.divserdescripcion {
    height: 150px;
    width: 60%;
}

.members{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

li{
    padding-top: 20px;
    list-style: none;
}