@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
:root{
    --dark-gray: #616161;
}

.navbar{
    background-color: var(--dark-gray)!important;
    padding-left: 25px;
}
.navbar-brand{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    font-weight: 600;
}